[Unit]
Description=First Boot Initialization
After=NetworkManager.service rpi-preseed.service
Wants=NetworkManager.service
Before=jack.service
ConditionPathExists=/boot/firmware/firstboot.sh

[Service]
Type=oneshot
ExecStart=/boot/firmware/firstboot.sh

[Install]
WantedBy=multi-user.target
