#!/usr/bin/make -f
export DH_VERBOSE=1

PKG=touchosc2midi
SRC_DIR=$(CURDIR)/../touchosc2midi-src
VENV_DIR=$(CURDIR)/debian/$(PKG)/opt/pistomp/venvs/touchosc2midi

%:
	dh $@

override_dh_auto_configure:
	if [ ! -d "$(SRC_DIR)" ]; then \
		git clone --depth 1 \
			https://github.com/BlokasLabs/touchosc2midi.git \
			"$(SRC_DIR)"; \
	fi

override_dh_auto_build:
	# Create a relocatable venv and install touchosc2midi
	uv venv --copies --python /usr/bin/python3 "$(VENV_DIR)"
	# Install pyliblo3 and pin Cython<3.1 before touchosc2midi pulls in broken pyliblo
	"$(VENV_DIR)/bin/pip" install 'Cython<3.1' pyliblo3
	"$(VENV_DIR)/bin/pip" install --no-deps "$(SRC_DIR)"

override_dh_auto_install:
	# Install systemd service file
	install -Dm 644 debian/touchosc2midi.mod-touchosc2midi.service \
		$(CURDIR)/debian/touchosc2midi/lib/systemd/system/mod-touchosc2midi.service
